<nav>
    <div class="site-title">
      <a href="/"><h1>RHOJ (Rajat Haggu Online Judge)</h1></a>
    </div>
    <ul>
      <li><a href="/">List</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
</nav>